<!DOCTYPE html>
<html lang="en">
<head>
    <%- partial("_shared/head") %> 
</head>
<body>
  <%- partial("_shared/nav") %>
   
  <% if (current.path[0] == 'blog' && current.source !== "index") { %>
    <%- partial("blog/_blog") %> 
  <% } else { %>
    <%- yield %>
  <% } %>
  
  <%- partial("_shared/footer") %> 
  
  
  <script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    _paq.push(['setTrackerUrl',  'https://api-5e31416613edfad8904173ee58264095.oasis.sandstorm.io']);
    _paq.push(['setSiteId', 1]);
    _paq.push(['setApiToken', 'mX2MC3CShgX2_QywmoY0ezlhZQ0wVCpOc-NTCSU-O-p']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://m0ien1phlpsfpxt0zdqm.oasis.sandstorm.io/embed.js'; s.parentNode.insertBefore(g,s);
  })();
  </script>
</body>
</html>