<section>
    <footer class="footer">
        <ul class="list-unstyled">
            <li class="inline"><a href="https://twitter.com/<%- author.twitter %>"><span class="fa fa-twitter fa-lg"></span> </a></li>
            <li class="inline"><a href="https://github.com/<%- author.github %>"><span class="fa fa-github-alt fa-lg"></span> </a></li>
            <li class="inline"><a href="https://codepen.io/<%- author.codepen %>"><span class="fa fa-codepen fa-lg"></span> </a></li>
        </ul>
        <p class="text-muted">Copyright &copy;<a href="<%- blog.uri %>">Oguching</a> <%- new Date().getFullYear() %> &bull; All Rights Reserved</p>
    </footer>
</section>

